@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

<ul class="navbar-nav navbar-right">
    <li>
        @{
            var userName = User.Identity.GetUserName();
            var displayName = userName.Split('@')[0];
        }
        @Html.ActionLink(displayName, "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class = "nav-link" })
    </li>

    <li>
        @Html.ActionLink("Role", "AddUserToRole", "Account", routeValues: null, htmlAttributes: new { id = "addToRoleLink", @class = "nav-link" })
    </li>
    <li><a class="nav-link" href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>

    <li>
        <a href="@Url.Action("Index", "Cart")" class="nav-link">
            <i class="fas fa-shopping-cart"></i>
        </a>
    </li>
</ul>
    }
}
else
{
<ul class="navbar-nav navbar-right">
    <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "nav-link" })</li>
    <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "nav-link" })</li>
    <li>
        @Html.ActionLink("Role", "AddUserToRole", "Account", routeValues: null, htmlAttributes: new { id = "addToRoleLink", @class = "nav-link" })
    </li>
    <li>
        <a href="@Url.Action("Index", "Cart")" class="nav-link">
            <i class="fas fa-shopping-cart"></i>
        </a>

    </li>
</ul>
}
